<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>

    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">FirmHub</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="{% if request.session.department == 1 %} /admin_dashboard {% elif request.session.department == 2 %} /project_manager_dashboard {% endif %}" class="sidebar-link">
                        <i class="bi bi-arrow-left-square-fill"></i>
                        <span>Back to Dashboard000</span>
                    </a>
                </li>

                <!-- Element -->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#QAgen" aria-expanded="false" aria-controls="auth">
                        <i class="bi bi-folder-fill"></i>
                        <span>{{element1.main_element}}</span>
                    </a>
                    <ul id="QAgen" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element1.id}}/10" class="sidebar-link">Main Contractor</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element1.id}}/11" class="sidebar-link">Sub Contractor</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element1.id}}/12" class="sidebar-link">Materials Lab</a>
                        </li>
                    </ul>
                </li>
                <!-- QA Execution -->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#qaexe" aria-expanded="false" aria-controls="auth">
                        <i class="bi bi-folder-fill"></i>
                        <span>{{element2.main_element}}</span>
                    </a>
                    <ul id="qaexe" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/1" class="sidebar-link">Sub Base</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/2" class="sidebar-link">Foundations</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/3" class="sidebar-link">Neck Columns</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/4" class="sidebar-link">Tie Beams</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/5" class="sidebar-link">Ground Floor Slab</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/6" class="sidebar-link">Grounds Floor Columns</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/7" class="sidebar-link">First Floor Slab</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/8" class="sidebar-link">First Floor Columns</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tree/checklist/{{project.id}}/{{element2.id}}/9" class="sidebar-link">Roof Slab</a>
                        </li>
                    </ul>
                </li>


                <!-- Reports -->
                <li class="sidebar-item">
                    <a href="/tree/report/{{project.id}}" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>Reports</span>
                    </a>
                </li>
                
            </ul>
            <div class="sidebar-footer">
                <a href="/logout" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main p-3 ">
            <div class="text-center">
                
                <div class="board-admin-cont">
                    
                    <h2>Project Manager Dashboard</h2>
                    
                </div>
            </div>
            <div class="main-content">
                <h1 class="path"><i class="bi bi-folder2-open"></i> {{project.name}} <i class="bi bi-caret-right"></i> {{element.main_element}} <i class="bi bi-caret-right"></i>{{subelement.sub_element}}</h1>
            </div>
            {% if all_tasks_approved %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    <i class="bi bi-check-circle-fill"></i>
                     {{subelement.sub_element}} Approved
                </div>
            </div>
            {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                <i class="bi bi-x-circle-fill"></i>
                {{subelement.sub_element}}  Not Approved
                </div>
            </div>
            {% endif %}
            <table class="table align-middle mb-0 bg-white .table table-hover">
                <form action="/tree/change_checklist" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="checklist_count" value="{{checklist_count}}">
                    <input type="hidden" name="first_checklist_id" value="{{first_checklist_id}}">
                    <input type="hidden" name="project" value="{{project.id}}">
                    <input type="hidden" name="element" value="{{element.id}}">
                    <input type="hidden" name="subelement" value="{{subelement.id}}">
                <thead class="bg-light">
                  <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Approved</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in checklist %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                            <p class="fw-bold mb-1">{{item.id}}</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <p class="fw-normal mb-1">{{item.description}}</p>
                        
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="checklist_status_{{item.id}}" {% if item.checklist == 'Approved' %} checked {% endif %}>
                            </div>
                        </td>
                        <td>
                            <span class="{% if item.checklist == 'Not Approved' %} orange {% else %} green {% endif %}">{{item.checklist}}</span>
                        </td>
                    </tr>
                    <input type="hidden" name="checklist_id_{{item.id}}" value="{{item.id}}">
                    {% endfor %}
                </tbody>
              </table>
              <div class="save-container ">
                <button type="submit" class="btn btn-primary " data-mdb-ripple-init>Save</button>
              </div>
            </form>
              
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>


    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/script.js' %}" ></script>
</body>

</html>