<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/about.css' %}">
</head>

<body>
    <div class="main-con">
        <h1>FirmHub</h1>
        <div class="welcoming">
            <h3 id="about-us">About Us</h3>
            <h5 id="welcome-firmhub">Welcome To FirmHub :</h5>
            <p id="intro-parag1">Your gateway to professional management.
                We offer an innovative,
                all-in-one Project Management System tailored for construction and infrastructure companies,
                streamlining workflows and enhancing collaboration for outstanding results.</p>
            <p id="intro-parag2">Our platform bridges gaps in communication,
                collaboration and control,
                empowering every stakeholder to perform their best,
                from role assignment to quality assurance.</p>
        </div>
        <div class="vision">
            <h3 id="our-vision">Our Vision</h3>
            <p id="v-p1">We strive to reshape the way contracting firms operate by :</p>
            <p id="v-p2">- redefining workflows for flawless project execution</p>
            <p id="v-p3">- streamlining inefficiencies</p>
            <p id="v-p4">- enhancing collaboration</p>
        </div>
        <div class="why-firm-hub">
            <h2 id="firm-hub-best-choice">Why FirmHub?</h2>
            <p id="firmhub-p1"><span style="font-weight: 400;">Effortless Project Management :</span>
                Simplify workflows with clear, transparent tools. 
            </p>
            <p id="firmhub-p2"><span style="font-weight: 400;">Seamless Collaboration :</span>
                Unite teams for smarter, smoother execution.
            </p>
            <p id="firmhub-p3"><span style="font-weight: 400;">Unmatched Quality :</span>
                Deliver excellence at every stage.
            </p>
           <p id="our-line">Let's Build Better, Together.</p>
        </div>
    </div>
</body>

</html>