<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <title>Admin DashBoard</title>
</head>
<body>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light " id="navbar">
    <div class="container">
      <a class="navbar-brand " href="#"
        ><img
          id="MDB-logo"
          src="{% static 'css/img/icon.png' %}"
          alt="MDB Logo"
          draggable="false"
          height="30"
      /></a>
      <ul class="navbar-nav ms-auto align-items-center " id="red">
        <li class="nav-item">
        <a class="nav-link mx-2" href="{% url 'admin_dashboard' %}"><i class="fas fa-bell pe-2"></i>FirmHub</a>
      </li>
        </ul>
      
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-center " id="red">
          <li class="nav-item">
            <a class="nav-link mx-2" href="{% url 'admin_dashboard' %}"><i class="fas fa-plus-circle pe-2"></i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="{% url 'view_clients' %}"><i class="fas fa-bell pe-2"></i>Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="{% url 'view_projects' %}" ><i class="fas fa-heart pe-2 " ></i>Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="{% url 'view_users' %}" ><i class="fas fa-heart pe-2 " ></i>Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/tree/report" ><i class="fas fa-heart pe-2 " ></i>View Report</a>
          </li>
          <li class="nav-item ms-3">
            <a class="btn btn-black btn-rounded" href="{% url 'logout' %}">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <!-- main page start -->
  <div class="main-page">
    <h1>Welcome {{request.session.logged_username}} </h1>
    <div class="board-admin-cont">
        <h2 class="admin-title">Adminirator Board</h2>
    </div>
    <div class="main-cont">
    <div class="Cards-cont">
        <h5>Latest Modified Projects: </h5>
        <ul class="projects-list">
            {% for project in latest_projects %}
            <li >
                <img src="{% static 'css/img/hotel1.jpeg' %}" alt="projectimg">
                <div class="info-desc-cont">
                    <div class="info-title">
                        <p>Project Name:</p>
                        <p>Clinet Name:</p>
                        <p>Project Manageer:</p>
                    </div>
                    <div class="info-title-info">
                        <p>{{project.name}}</p>
                        <p>{{project.client.company_name}}</p>
                        <p>{{project.manager.name}}</p>
                    </div>
                </div>
            </li>
            
            
            {% endfor %}
        </ul>
    </div>
    <div class="Cards-cont">
        <h5>Latest Projects: </h5>
        <ul class="projects-list">
            {% for project in modified_projects %}
            <li>
                <img src="{% static 'css/img/hotel1.jpeg' %}" alt="projectimg">
                <div class="info-desc-cont">
                    <div class="info-title">
                        <p>Project Name:</p>
                        <p>Clinet Name:</p>
                        <p>Project Manageer:</p>
                    </div>
                    <div class="info-title-info">
                        <p>{{project.name}}</p>
                        <p>{{project.client.company_name}}</p>
                        <p>{{project.manager.name}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
            
        </ul>
    </div>
  </div>
</div>
<div class="footer">
    <a href="{% url 'about' %}">About Us</a>
    <a href="{% url 'contact'%}">Contact US</a>
</div>


    
    <script src="{% static 'js/bootstrap.js' %}" ></script>
</body>
</html>