<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Welcome to FirmHub</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-login-cont">
        <div class="img-cont">
            <img src="{% static 'css/img/icon.png' %}" alt="pms-logo">
            <h3>FirmHub</h3>
        </div>
        <div class="login-form-cont">
            <h3>Welcome to FirmHub!</h3>
            <input type="text" name="username" placeholder="Enter Your Username...">
            <input type="password" name="password" placeholder="password">
           
            
            <button type="submit">Login</button>
            <hr>
            <div class="moreInfo">
                <a href="#">About Us</a>
                <a href="#">Contact US</a>
            </div>

        </div>
    </div>
</body>
</html>