<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Welcome to FirmHub</title>
    
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-login-cont">
        <div class="img-cont">
            <img src="{% static 'css/img/icon.png' %}" alt="pms-logo">
            <h3>FirmHub</h3>
        </div>
        <div class="login-form-cont">
            <form action="/check_login" method='post'>
            <h3>Welcome to FirmHub!</h3>
            <input type="text" name="username" placeholder="Enter Your Username...">
            <input type="password" name="password" placeholder="password">
           
            
            <button type="submit">Login</button>
                

            </form>
            <hr>
            <div class="moreInfo">
                <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'contact'%}">Contact US</a>
            </div>

        </div>
    </div>

    <script src="{% static 'js/bootstrap.js' %}" ></script>
    
</body>
</html>