<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-user.css'%}">
    <title>Users</title>
</head>
<body>
    <!-- Navbar start -->
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light" id="navbar">
        <div class="container">
          <a class="navbar-brand " href="#"
            ><img
              id="MDB-logo"
              src="{% static 'css/img/icon.png' %}"
              alt="MDB Logo"
              draggable="false"
              height="30"
          /></a>
          <ul class="navbar-nav ms-auto align-items-center " id="red">
            <li class="nav-item">
            <a class="nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i>FirmHub</a>
          </li>
            </ul>
          
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center " id="red">
              <li class="nav-item">
                <a class="nav-link mx-2" href="#!"><i class="fas fa-plus-circle pe-2"></i>Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i>Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#!" ><i class="fas fa-heart pe-2 " ></i>Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#!" ><i class="fas fa-heart pe-2 " ></i>Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#!" ><i class="fas fa-heart pe-2 " ></i>View Reporst</a>
              </li>
              <li class="nav-item ms-3">
                <a class="btn btn-black btn-rounded" href="#!">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- nav bar end -->
       <div class="main-page">
            <h1>Welcome Jalal </h1>
            <div class="board-admin-cont">
                <h2>Adminirator Board</h2>
            </div>
            <!-- create user -->
            <div class="main-page-cont">
            <div class="adduser-cont">
                <h1>Create A Project</h1>
    
                <form action="/createProject" method="post">
                    
                    <div class="form-outline mb-4">
                        <label for="username">Name</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="form-outline mb-4">
                        <label for="clinet">Client</label>
                        <input type="text" name="clinet" class="form-control">
                    </div>
                    <div class="form-outline mb-4">
                        <label for="Location">Location</label>
                        <input type="Location" name="Location" class="form-control">
                    </div>
                    <div class="form-outline mb-4">
                        <label for="maincontractor">Main Contractor</label>
                        <input type="maincontractor" name="maincontractor" class="form-control">
                    </div>
                    <div class="form-outline mb-4">
                        <label for="projectmanager">Project Manager</label>
                        <select name="projectmanager" id=""class="form-control">
                            <option value="client.name">CCC</option>
                            <option value="client.name">Alfares</option>
                            
                        </select>
                        
                    </div>
                    <div class="form-outline mb-4">
                        <button type="submit" class="btn btn-primary btn-block">Add Project</button>
                    </div>
                </form>
            </div>
            <!-- end add user form -->
            <div class="users-table">
                <table class="table align-middle mb-0 bg-white table-hover">
                    <thead class="table-dark">
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Clinet</th>
                        <th>Location</th>
                        <th>Main Contractor</th>
                        <th>Project Manager</th>
                        <th>Created at</th>
                        <th>Last Modified</th>
                        <th>DeadLine Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>
                            <p class="fw-bold mb-1">Land Mark Hotel</p>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">CCC</p>
                        </td>
                        <td><p class="fw-normal mb-1">Rammallah - Tira</p></td>
                        <td><p class="fw-normal mb-1">CCC</p></td>
                        <td><p class="fw-normal mb-1">Anas Zaguir</p></td>
                        <td><p class="fw-normal mb-1">10.Nov 2022</p></td>
                        <td><p class="fw-normal mb-1">10.Nov 2022</p></td>
                        <td>
                          <button type="button" class="btn btn-link btn-sm btn-rounded">
                            Edit 
                          </button> |
                          <button type="button" class="btn btn-link btn-sm btn-rounded">
                            Delete 
                          </button>
                        </td>
                      </tr>

                     
                    </tbody>
                  </table>
                  
            </div>
            
        </div>
        </div>

        
    <script src="{% static 'js/bootstrap.js' %}" ></script>   
</body>
</html>