<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-user.css'%}">
    <title>Users</title>
</head>
<body>
    <!-- Navbar start -->
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light " id="navbar">
      <div class="container">
        <a class="navbar-brand " href="#"
          ><img
            id="MDB-logo"
            src="{% static 'css/img/icon.png' %}"
            alt="MDB Logo"
            draggable="false"
            height="30"
        /></a>
        <ul class="navbar-nav ms-auto align-items-center " id="red">
          <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'admin_dashboard' %}"><i class="fas fa-bell pe-2"></i>FirmHub</a>
        </li>
          </ul>
        
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-center " id="red">
            <li class="nav-item">
              <a class="nav-link mx-2" href="{% url 'admin_dashboard' %}"><i class="fas fa-plus-circle pe-2"></i>Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{% url 'view_clients' %}"><i class="fas fa-bell pe-2"></i>Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{% url 'view_projects' %}" ><i class="fas fa-heart pe-2 " ></i>Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{% url 'view_users' %}" ><i class="fas fa-heart pe-2 " ></i>Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{% url 'report' %}" ><i class="fas fa-heart pe-2 " ></i>View Report</a>
            </li>
            <li class="nav-item ms-3">
              <a class="btn btn-black btn-rounded" href="{% url 'logout' %}">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <!-- nav bar end -->
       <div class="main-page">
          <h1>Welcome {{request.session.logged_username}} </h1>
            <div class="board-admin-cont">
                <h2>Adminirator Board</h2>
            </div>
            <!-- create user -->
            <div class="main-page-cont">
            <div class="adduser-cont">
                <h1>Create A Project</h1>
    
                <form action="/create_project" method="post">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="form-outline mb-4">
                        <label for="clinet">Client</label>
                        <select name="client_id"  class="form-control">
                          {% for client in clients %}
                            <option value="{{client.id}}">{{client.company_name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="location">Location</label>
                        <input type="Location" name="location" class="form-control">
                    </div>
                    <div class="form-outline mb-4">
                        <label for="main_contractor ">Main Contractor</label>
                        <input type="text" name="main_contractor" class="form-control">
                    </div>
                    <div class="form-outline mb-4">
                      <label for="main_contractor">Dead Line</label>
                      <input type="date" name="deadline" class="form-control">
                  </div>
                    <div class="form-outline mb-4">
                        <label for="project_manager">Project Manager</label>
                        <select name="manager_id" id="" class="form-control">
                          {% for manager in managers %}
                            <option value="{{manager.id}}">{{manager.name}}</option>
                          {% endfor %}
                        </select>
                        
                    </div>
                    <div class="form-outline mb-4">
                        <button type="submit" class="btn btn-primary btn-block">Add Project</button>
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li>{{message}}</li>
                        {% endfor %}
                    </ul>   
                    {% endif %}
                </form>
            </div>
            <!-- end add user form -->
            <div class="users-table">
                <table class="table align-middle mb-0 bg-white table-hover">
                    <thead class="table-dark">
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Client</th>
                        <th>Location</th>
                        <th>Main Contractor</th>
                        <th>Project Manager</th>
                        <th>Created at</th>
                        <th>DeadLine Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for project in projects %}
                      <tr>
                        <td>{{project.id}}</td>
                        <td>
                            <p class="fw-bold mb-1">{{project.name}}</p>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">{{project.client.company_name}}</p>
                        </td>
                        <td><p class="fw-normal mb-1">{{project.location}}</p></td>
                        <td><p class="fw-normal mb-1">{{project.main_contractor}}</p></td>
                        <td><p class="fw-normal mb-1">{{project.manager.name}}</p></td>
                        <td><p class="fw-normal mb-1">{{project.created_at}}</p></td>
                        <td><p class="fw-normal mb-1">{{project.deadline}}</p></td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                  
            </div>
            
        </div>
        </div>

        
    <script src="{% static 'js/bootstrap.js' %}" ></script>   
</body>
</html>