body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: #eee;
}
.main-con{
    padding: 30px;
    background-color: white;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px silver;
  }

  .main-con img {
    height: 500px;
  }